.mat-card-simples{
  max-width: 300px;
  background-color: aliceblue;
  margin: 10px;
}

.mat-card-usuario{
  background-color: rgb(153, 92, 207);
  display: grid;
  justify-items: center;
}

.mat-form-principal{
  margin-left: 5px;
}

